@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700&display=swap');

@font-face  {
    font-family: 'Roboto', sans-serif;
    src:url(https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700&display=swap)
}

*{
    font-family: Roboto;
    color: #ffffff;
}

.button{
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 30px;
}

button{
    margin: 30px;
    padding: 10px 30px;
    font-size: 13px;
}

.buttons{
    display: block;
    flex-direction: column;
    align-items: center;

    flex: none;
    order: 2;
    flex-grow: 0;
    margin: 0px 35px;
}

.button1{
    border: transparent;
    background-color: #976FC8;
    box-shadow: 0px 4px 31px rgba(0, 0, 0, 0.15);
}

.button2{
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    
    filter: drop-shadow(0px 4px 31px rgba(0, 0, 0, 0.15));
    border-radius: 5px;
    background: #292929;
}

.button3{
    border: transparent;
    background-color:rgba(196, 196, 196, 0.5);
}

.title{
    position: center;
    width: auto;
    
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 29px;
    
    text-align: center;
    letter-spacing: 0.2px;

    flex: none;
    order: 0;
    flex-grow: 1;
    margin: 0px 0px;
}

.footer{
    padding: 0;
    margin: 0;
    background: transparent!important;
}

footer p.description{
    padding: 0;
    margin: 0;
}

.description{
    position: static;
    width: auto;
    left: calc(50% - 340px/2);
    top: 7.14%;
    bottom: 7.14%;

    background: transparent;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;

    text-align: center;
    letter-spacing: 0.2px;

    flex: 1 auto;
    flex-wrap: wrap;
    order: 0;
    flex-grow: 1;
    margin: 10px 0px;
}

.start{
    background-image: linear-gradient(to bottom, rgba(18,18,18,.5) 0%, rgba(18,18,18,1) 100%),
    url("Images/Frame\ 2.webp");
    background-repeat: no-repeat;
    background-position:center;
    margin: 70px 0px;
    background-position:left;
    padding: 70px 0px;
}

.card::-webkit-scrollbar{
    display: none;
}

.card{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    -ms-overflow-style: none;
    scrollbar-width: none;

    padding: 30px;
    width: auto;
    height: auto;
    top: 259px;
    overflow-x: scroll;
    
    background: #292929;
    border-radius: 30px;

    flex: none;
    order: 1;
    flex-grow: 0;
}

.card2{
    flex-direction: column !important;
}

body{
    background: #121212;
    margin: 0px;
}

.asterisk{
    font-size: 12px;
    font-weight: 100;
    margin: 10px;
    line-height: 24px;
}

.section em{
    text-decoration: line-through;
}

.references{
    overflow-x: scroll;
    display: flex;
    flex-direction: row;
}

.reference{
    font-weight: normal;
    flex: 0 0 85vw;
    font-size: 12px;
    align-items: flex-start;
    margin: 10px;
    width: 300px;
    height: auto;
    padding: 40px;
    background: #292929;
    border-radius: 30px;
    box-sizing: border-box;
}

.referenceText{
    line-height: 29px;
}

.icon{
    margin: 10px;
}

.names{
    flex-wrap: nowrap;
    display: flex;
    flex-direction: row;
}

.section{
    margin: 70px 0px;
}

ul{
    list-style-type:none;
}

.special{
    background-color: rgb(187, 134, 252,0.25)!important;
}

ul{
    font-weight: normal;
    font-size: 12px;
    margin: 20px 0px;
    line-height: 29px;
}

.cena{
    color: #976FC8;
}

strong{
    padding: 4px;
}